html{
    background-color: rgb(173, 172, 172);
}
body{
    color: rgb(0, 0, 0);
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(28, 48, 161);
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.footer{
    background-color: gold;
    text-align: center;
    padding: 3px;
}