html{
    background-color: rgb(255, 255, 255);
}
body{
    margin: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}

/*COR DE FUNDO MENU*/
#menu-h{
    background-color: rgb(37, 37, 39);
}

/*LISTA DO MENU*/
#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
    text-align: center;    
}

/*DISPOSIÇÃO DAS LINHAS*/
#menu-h ul li {
    display: inline;
}

/*COR DOS BOTÕES E EFEITO*/
#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

/*COR QUE O BOTÃO FICA PÓS EFEITO*/
#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

/*DEIXA O ÚLTIMO FILHO POSICIONADO ONDE QUISER*/
/*#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}*/
    

h1.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(97, 9, 109);
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.footer{
    background-color: rgb(255, 213, 0);
    text-align: center;
    padding: 3px;
}