body{
    color: blueviolet;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.footer{
    background-color: gold;
    text-align: center;
    padding: 3px;
}